/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-11-03, 12:59:09
    Author     : Piotrek
*/

.subscribe-div {
    text-align:right;
    padding:5px;
    float:left;
    width:10em !important;
    /*display: inline-block;*/
}
.subscribtion-panel {
    overflow:hidden;
}

.panel-body {
    padding:10px;
}

.category-options {
    position: fixed;
    overflow: auto;
    text-align:left;
    padding:5px;
    right:0;
    /*float:right;*/
    width:20%;
    height: 100%;
}

.post-list {
    margin-right:20%;
}